
.links{
	padding: 0;
}
.links li{
	display: inline-block;
	list-style: none;
	padding: 5px;
}

.links li a{
	color:#555;
}
.showingbyg
{
	color:#5f9c30 !important;
	font-weight: 700;
}
.selcategory{
	font-weight: 700;
}
.nb-brand .viewallg button {
    background:#5f9c30 !important;
    color: #fff;
    font-size: 14px;
    border-radius: 25px;
    padding: 7px 25px;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    margin: 15px auto; 
}
.viewallg {
	text-align: center;
}