.Feature{
	background-color: #fff;
	height: 150px;
	padding-top: 45px;
	border-right:1px solid #efefef;
	border-bottom: 1px solid #efefef;
	
	color: #999;

}
.first:hover img{
	transform: scale(1.2);
	transition:0.3s all ease 0s;
}
.second:hover img{
	transform: scale(1.2);
	transition:0.3s all ease 0s;
}
.third:hover img{
	transform: scale(1.2);
	transition:0.3s all ease 0s;
}
.featureText label{
	font-size: 20px;
	margin-top: -6px;
   }