.lstbx{
	height:200px;
	
	/*padding:25px;*/
}

.lstbxouter{
	padding-right:30px;
	padding-left:30px;
	padding-top:20px;
	padding-bottom:30px;
	background:#f3f3f3;
}
.listttl{
	text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 23px;
}

.listui ul{
	list-style: none;
	padding-left:0px;
}
.listui ul li{
	margin-top:5px;
	color:#999;
}