.headerflow{
  z-index: 10000;
  background-color: transparent;
  height: 100px;
  background-color: #fff;
}
.headerpaddingtop{
	padding-top: 30px;
}

.headerlogoimg img{
	height: 40px;
}

.css-1jllj6i-control{
	display: none!important;
}

.css-1r4vtzz ,.css-48ayfv{
	width: 100%!important;
	padding: 8px 8px 8px 8px!important;
	border-radius:50px 0px 0px 50px!important;
	border:1px solid #777!important;
	border-right: none!important;
	background:transparent!important;
	text-align: center!important;
	box-shadow: none!important;


}

.headersearch{
	padding: 8px 8px 12.5px 8px!important;
    background-color: #FFF;
    border-radius: 2px;
    border-width: 0;
    /*box-shadow: 0 1px 1px 1px rgba(0,0,0,0.08);*/
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    align-items: baseline;
    background: #FFF;
    box-sizing: border-box;
    border-color: hsl(0,0%,80%);
    color: #515151;
    cursor: pointer;
    display: inline-flex;
    margin: 0;
    max-width: 100%;
    flex-wrap: nowrap;
    outline: currentcolor none medium !important;
    text-align: left;
    text-decoration: none;
    transition: background 0.1s ease-out 0s,box-shadow 0.15s cubic-bezier(0.47,0.03,0.49,1.38) 0s;
    vertical-align: middle;
    white-space: nowrap;
    width: 350px;
   	border-radius:0px 0px 0px 0px!important;
	border:1px solid #777!important;
	border-right: none!important;
	background:transparent!important;

}

.searchbutton{
	padding: 10px 13px 10px 10px!important;
	border-radius:0px 50px 50px 0px!important;
	border:1px solid #777!important;
	border-right: none!important;
	background:transparent!important;
	outline:0px!important;
	/*box-shadow: 0 1px 1px 1px rgba(0,0,0,0.08);*/
	width: 100px;
}
.headercarticon{
	font-size: 35px;
	cursor:pointer;
	color: #FBBD65;
}

.headercart a{
	text-decoration: none;
}
.cartvalue:hover{
	text-decoration: none;
	color:#FBBD65;
}
.cartitemscss:hover{
	text-decoration: none;
	color:#FBBD65;
}

.cartvalue{
	padding-left: 5px;
	cursor: pointer;
	font-size: 20px;
	color: #777;
}
.cartitemscss{
	padding-left: 5px;
	cursor: pointer;
	font-size: 18px;
	color: #777;
}