.miniImagesIn{
	height: auto;
    font-family: 'PT Sans',sans-serif !important;
    background-color: #444;
    margin-top: 50px;
    border: 1px solid #efefef;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.miniImagesIn img{
	height: 100%;
	width: 100%;

}.imageContainer img{
	height: 100%;
	width: 100%; 

}
.onHoverDivEcommerce{
    position: absolute;
    display: none;
    height: 550px;
    font-family: 'PT Sans',sans-serif !important;
    margin-top: -565px;
    text-align: center;
    background-color: rgb(255,255,255,0.5);
}
.onHoverDivEcommerce i{
	font-size: 80px;
	padding-top: 196px;
	color: #efefef;
}
.imageContainer:hover .onHoverDivEcommerce{
	display: block;
	cursor: pointer;
}
.addToCartEcommerce{
    background-color: #3f9090;
    height: 35px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-family: 'PT Sans',sans-serif !important;
    padding-top: 5px;
    cursor: pointer;
}
.addToCartEcommerce:hover{
    background-color: #777 !important;

}
.wishListEcommerce{
	border: 1px solid #e8e8e8;
    border-radius: 3px;
    font-family: 'PT Sans',sans-serif !important;
    padding: 0px !important;
    padding-top: 5px !important;
    font-size: 18px;
    color: #3f9090;
    text-align: center;
    height: 35px;
    cursor: pointer
}
.wishListEcommerce:hover{
	color: #777 !important;
}
.stockInfoEcommerce {
	padding-top: 8px;
    font-family: 'PT Sans',sans-serif !important;
}
.stockInfoEcommerce i{
	color: #1c3481 !important;
}
.reviewsDivEcommerce:hover {
    color: #1c3481;
    cursor: pointer;
}
.reviewsDivEcommerce {
	color: #666;
	margin-top: 8px;
    font-family: 'PT Sans',sans-serif !important;
	padding-left: 10px;
}
.writeReviewEcommerce{
	color: #666;
	margin-top: 8px;
    font-family: 'PT Sans',sans-serif !important;
	padding-left: 10px;
}
.writeReviewEcommerce:hover {
    color: #1c3481;
    cursor: pointer;
} 
.productInfoEcommerce label{
	font-family: 'PT Sans',sans-serif !important;
	font-size: 30px;
    margin-bottom: 0px;
}
.priceDivEcommerce {
    margin-top: 30px;
    margin-bottom: 10px;
}
.priceEcommerce{
	/* font-family: 'PT Sans',sans-serif !important; */
    color: #333;
    font-size: 28px;
    font-weight: initial;
    line-height: 25px;
}
.itemDescEcommerce{
	font-family: 'PT Sans',sans-serif !important;
	line-height: 1.8em;

}
.selectCustomEcommerce{
		font-family: 'PT Sans',sans-serif !important;

}
.mt20{
    /*margin-top: 40px !important;*/
}
.productNameClass{
    font-size: 24px;
    color: #777;
    margin-bottom:5px;
}
.policies{
    height: auto;
    padding:10px;
}

.policies ul li{
    padding: 10px 0;
}
.no-drop {cursor: no-drop;}
.auto {cursor: auto;}
.tag{
    font-size: 16px !important;
}
.actualPrice{
    font-size: 16px;
    text-decoration: line-through !important;
    /* margin-left: 12px; */
    vertical-align: middle;
    color: #878787;
}
.actualPrice i{
    text-decoration: line-through;
}
.boldText{
    font-weight: bold;
}