.miniImagesIn{
	height: auto;
    font-family: 'PT Sans',sans-serif !important;
    background-color: #444;
    margin-top: 50px;
    border: 1px solid #efefef;
    /* margin-right: 20px; */
    margin-bottom: 20px;
    cursor: pointer;
}

.miniImagesIn img{
	height: 100%;
	width: 100%;

}.imageContainer img{
	height: 100%;
	width: 100%; 


}
.imgCont{
     overflow: hidden;
     width: 60%;
}
.onHoverDivEcommerce{
    position: absolute;
    display: none;
    height: 550px;
    font-family: 'PT Sans',sans-serif !important;
    margin-top: -565px;
    text-align: center;
    background-color: rgb(255,255,255,0.5);
}
.onHoverDivEcommerce i{
	font-size: 80px;
	padding-top: 196px;
	color: #efefef;
}
.imageContainer:hover .onHoverDivEcommerce{
	display: block;
	cursor: pointer;
}
.addToCartEcommerce{
    background-color: #3f9090;
    height: 35px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-family: 'PT Sans',sans-serif !important;
    padding-top: 5px;
    cursor: pointer;
}
.addToCartEcommerce:hover{
    background-color: #777 !important;

}
.wishListEcommerce{
	border: 1px solid #e8e8e8;
    border-radius: 3px;
    font-family: 'PT Sans',sans-serif !important;
    padding: 0px !important;
    padding-top: 5px !important;
    font-size: 18px;
    color: #3f9090;
    text-align: center;
    height: 35px;
    cursor: pointer
}
.wishListEcommerce:hover{
	color: #777 !important;
}
.stockInfoEcommerce {
	padding-top: 8px;
    font-family: 'PT Sans',sans-serif !important;
}
.stockInfoEcommerce i{
	color: #1c3481 !important;
}
.reviewsDivEcommerce:hover {
    color: #1c3481;
    cursor: pointer;
}
.reviewsDivEcommerce {
	color: #666;
	margin-top: 8px;
    font-family: 'PT Sans',sans-serif !important;
	padding-left: 10px;
}
.writeReviewEcommerce{
	color: #666;
	margin-top: 8px;
    font-family: 'PT Sans',sans-serif !important;
	padding-left: 10px;
}
.writeReviewEcommerce:hover {
    color: #1c3481;
    cursor: pointer;
} 
.productInfoEcommerce label{
	font-family: 'PT Sans',sans-serif !important;
	font-size: 30px;
    margin-bottom: 0px;
}
.priceDivEcommerce {
    margin-top: 30px;
    margin-bottom: 10px;
}
.priceEcommerce{
	/* font-family: 'PT Sans',sans-serif !important; */
    color: #333;
    font-size: 28px;
    font-weight: initial;
    line-height: 25px;
}
.itemDescEcommerce{
	font-family: 'PT Sans',sans-serif !important;
	line-height: 1.8em;

}
.selectCustomEcommerce{
		font-family: 'PT Sans',sans-serif !important;

}
.mt20{
    /*margin-top: 40px !important;*/
}
.productNameClass{
    font-size: 24px;
    color: #777;
    margin-bottom:5px;
}

.policies{
    height: auto;
    padding:10px;
}

.policies ul li{
    padding: 10px 0;
}
.no-drop {cursor: no-drop;}
.auto {cursor: auto;}
.tag{
    font-size: 16px !important;
}
.actualPrice{
    text-decoration: line-through !important;
    /* margin-left: 12px; */
    vertical-align: middle;
    color: #878787;
}
.actualPrice i{
    text-decoration: line-through;
}
.boldText{
    font-weight: bold;
}


.singlefeature{
    padding:5px 0;
}


/*---------------------------new product view css-----------------------------*/

.productNameClassNew{
    font-size: 16px;
    color: #777;
    margin-bottom:5px;
}
.productNameClassNewBrand{
    font-size: 18px!important;
}
.orangetxt:hover{
    color:#fbbb65;
    cursor:pointer;
}
.orangetxt{
     font-weight:900;
     color:#555;
}

.anchorclr{
    color:#555!important;
    text-decoration: none;
}
.anchorclr:hover{
    color:#fbbb65!important;
    cursor:pointer;
   text-decoration: none;
}

.undrln{
    height:30px;
    border-top:1px solid #dadada;
    padding:0px;
}
.paddingleftzero{
    padding-left: 0px!important;
}
.paddingrightzero{
    padding-right: 0px!important;
}
.paddingzero{
    padding: 0px!important;
}
.ttl{
    font-size: 16px;
     font-weight:900;
}
.priceEcommerceNew{
    color:#fbbb65;
    font-size: 1.8rem !important;
    font-weight: 700;
    line-height: 25px;
}
.ttllist{
    font-size: 14px;
    color:#999;
}
.listspace{
    margin-top:10px;
}
.tealColorfnt{
    font-size:8px;
    font-weight:900;
}
.qty{
   /* height:200px;
    width:500px;
    padding:15px;*/
    padding:16px 22px 16px 17px;
    border:1px solid #fbbb65;
    border-radius: 5px;
    /* margin-right: 3px; */
}
.qtycart{
     padding:15px 30px 17px 25px;
    border:1px solid #fbbb65;
    border-radius: 5px;
    /* margin-right: 3px; */
}

.qty2{
    height:23px;
    width:25px;
    padding:1px 5px 5px 8px;
    border:1px solid #fbbb65;
    border-radius: 5px;
    /* margin-right: 3px; */
    /* margin-top: -14px; */

}

.qty3{
    height:23px;
    width:25px;
    padding:1px 5px 5px 8px;
    border:1px solid #fbbb65;
    border-radius: 5px;
    margin-right: 3px;
    margin-top: 10px;
    margin-left: -28px;
}
.qty4{
    height:23px;
    width:25px;
    padding:1px 5px 5px 8px;
    border:1px solid #fbbb65;
    border-radius: 5px;
    /* margin-right: 3px;
    margin-top: 4px; */
}
.clr{
    color : #fbbb65;
}
.spc{
    margin-top:20px;
}

.icns{
    padding:15px 25px 17px 23px;
     border:1px solid #fbbb65;
    border-radius: 5px;
    margin-right: 3px;
}

.miniImagesInNew{
    height: auto;
    font-family: 'PT Sans',sans-serif !important;
    background-color: #444;
    border: 1px solid #efefef;
    margin-bottom: 20px;
    cursor: pointer;
    width: 60%;
}

.productView:hover{
    transform: scale(1.2);
}

.imgbxborder{
    border:2px solid #fbbb65;
}

.sharebx{
    height:50px;
    /*border:1px solid black;*/
    padding-top:15px;
}

.crcle{
    height:35px;
    width:35px;
    padding-left:12px;
    padding-top:5px;
   
    border-radius:100%;
    color:white;
}
.crcle1{
    height:35px;
    width:35px;
    padding-left:12px;
    padding-top:5px;   
    border-radius:100%;
    margin-left:10px;
    color:white;
}
.fbook{
    background:#3b5998;
    border:1px solid #3b5998;
}
.fbook:hover{
    background:#3b5998;
    border:1px solid #3b5998;
}

.twtr{
    background:#50a5e6;
    border:1px solid #50a5e6;
}
.twtr:hover{
    background:#50a5e6;
    border:1px solid #50a5e6;
}

.gplus{
    background:#e53935;
    border:1px solid #e53935;
}
.gplus:hover{
    background:#e53935;
    border:1px solid #e53935;
}

.linkedin{
    background:#006fa6;
    border:1px solid #006fa6;
}
.linkedin:hover{
    background:#006fa6;
    border:1px solid #006fa6;
}

.pinterest{
    background:#b60012;
    border:1px solid #b60012;

}
.pinterest:hover{
    background:#b60012;
    border:1px solid #b60012;
}

.cursorpointer{
    cursor: pointer;
}
.qtyInput{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #fbbb65;
}
.qtyIncrease{
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #fbbb65;
    padding: 5px;
}
.viewAddtoCart{
    cursor: pointer;
    padding: 15px 10px;
    border-radius: 4px;
    border: 1px solid #fbbb65;
    color: #fbbb65;
}
.viewWishList{
    cursor: pointer;
    padding: 15px 10px;
    border-radius: 4px;
    border: 1px solid #fbbb65;
    color: #fbbb65;
}
.viewAddtoCart:hover{
    color: #fbbb65;
}
.viewWishList:hover{
    color: #fbbb65;
}
.viewAddtoCart:before {
    font-family: "Font Awesome 5 Free";
    content: "\f07a";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}
.viewWishList:before {
    font-family: "Font Awesome 5 Free";
    content: "\f004";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}