.card{
	border: 1px solid #f1f2f2;
	max-width: 270px;
	margin: 5px;
	height: 385px;
}
.productDetails{
	padding-bottom: 15px;
	min-height: 110px;
}
.item-top{
	text-align: center;
}

.productImg{
	overflow: hidden;
	height: 185px;
} 
.productImg a{
	display: block;
	text-align: center;
	/*padding-top: 20px;*/
}

.hoveractions a{
	display: block;
	text-align: center;
	padding-top: 20px;
	color: #fff;
}
.productImg .hoveractions{
	z-index: 9999;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	height: 263px;
	background: rgba(128,125,116,0);
	text-align: center;
	visibility: hidden;
	transform: scale(0);
	-webkit-transition: all .5s ease-out 0s;
	-moz-transition: all .5s ease-out 0s;
}

.productImg:hover .hoveractions{
	background: rgba(0,0,0,0.5);
	visibility: visible;
	transform: scale(1);
	-webkit-transition: all .5s ease-out 0s;
	-moz-transition: all .5s ease-out 0s;
	width: 84%;
    left: 20px;
    height: 187px;
    top: 5px;} 


.innerDiv{
	padding: 30px 10px 20px 10px;
	display: inline-block;
	width: 100%;
}
.innerDiv a{
	color: #555;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

}
.innerDiv a:hover{
	color: #fbbb65 !important;
	text-decoration: none;
}

.hoveractions ul{
  list-style: none;
  padding: 0;
  margin-top: 25%;
}

.hoveractions li{
  display: inline-block;
}

.hoveractions i{
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid #fff;
    color: #fff;
	border-radius: 50%;
	font-size: 18px;
	margin: 0 10px;
	display: inline-block;
	cursor: pointer;
}

.icon-view{
	background: #d50c22 !important;
  border-color: #d50c22 !important;
}

.ratingReview {
   
}

.ratingReview:not(:checked) > input,
.ratingReview1:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.ratingReview:not(:checked) > label, .ratingReview1:not(:checked) > label {
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#c7c7c7;
}

.ratingReview:not(:checked) > label:before,.ratingReview1:not(:checked) > label:before {
    content: '★ ';
    font-size:18px!important;
}

.ratingReview > input:checked ~ label, .ratingReview1 > input:checked ~ label {
    color: gold!important;
}


.ratingReview > input:checked + label:hover,
.ratingReview > input:checked + label:hover ~ label,
.ratingReview > input:checked ~ label:hover,
.ratingReview > input:checked ~ label:hover ~ label,
.ratingReview > label:hover ~ input:checked ~ label {
  color: #ea0;
}

.ratingReview > label:active {
  position:relative;
  top:2px;
  left:2px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.ratingReview > input:checked + label:hover,
.ratingReview > input:checked + label:hover ~ label,
.ratingReview > input:checked ~ label:hover,
.ratingReview > input:checked ~ label:hover ~ label,
.ratingReview > label:hover ~ input:checked ~ label {
  color: #ea0;
}
.clearfix {
    *zoom: 1;
}

.price{
	font-size: 18px;
	font-weight: bold;
	color: #fbbb65 !important;
}
.oldprice{
	font-size: 14px;
	color: #555 !important;
	text-decoration: line-through;
}
.actions{
	margin-top: 24px
}
.actions button{
	left: 0;
	bottom: 0;
	text-align: center;
	width: 143px;
	padding-left: 0;
	padding-right: 0;
	border-radius: 20px;
	font-size: 14px;
	padding: 9px 0 9px;
	border: 1px solid #fbbb65 !important;
	background: #fff;
	color: #fbbb65;
	text-transform: uppercase;
}



.product-item-link{
	color: #555;
	font-size: 15px;
	font-weight: bold;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

}

