.bannerContainer{
	background-color: #333;
	height: 385px;
}

#myCarousel{
	height: 400px;
	width: 100%;
}

.backDiv{
	background-color:rgb(0,0,0,0.8);
	border-radius: 50%;
	padding: 10px;
	height: 53px !important;
  width: 53px !important;
}
.glyphicon{
	color: #fff !important;

}
.carousel-control >.left{
	left: -20px !important;
}
.carousel-control >.right{
	right: -50px !important;
}
.transDiv{
	background-color: rgb(0,0,0,0.9);
	height: 415px;
}
/* Fading animation */

.caption{
	position: absolute;
	height: 200px;
	z-index: 1000;
	text-align: center;
	margin-top: -255px;
	color: #fff;
}
.caption label{
    transition: all 0s ease 0s;
    line-height: 60px;
    font-size: 49px;
    
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, -33.4375, 0, 1);
}
.caption p{
    
    font-size: 13px;
}
.shopNowButton{
	background-color: #5f9c30;
    height: 36px;
    color: #fff;
    
    font-size: 15px;
    padding-top: 8px;
    margin-top: 20px;
    border-radius: 3px;
    cursor: pointer;
}
.shopNowButton:hover{
	background-color: #1b1b1b;
	color: #fff;
}
.flip-scale-up-hor {
	        animation: flip-scale-up-hor 0.9s linear both;
}

.slide-top {
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-bottom {
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-bottom-slow {
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes flip-scale-up-hor {
  0% {
            transform: scale(1) rotateX(0);
  }
  50% {
            transform: scale(2.5) rotateX(-90deg);
  }
  75% {
            transform: scale(1) rotateX(-180deg);
  }
   100% {
            transform: scale(1) rotateX(0);
  }
}
 

@keyframes slide-top {
  0% {
            transform: translateY(-100px);
  }
  100% {
            transform: translateY(0px);
  }
}
@keyframes .slide-bottom{
  0% {
            transform: translateY(-200px);
  }
  100% {
            transform: translateY(0px);
  }
}

@keyframes .slide-bottom-slow{
  0% {
            transform: translateY(-300px);
  }
  100% {
            transform: translateY(0px);
  }
}

/*Ecommerce Banner Css*/
.carousel-control.right{
  background: none!important;
}.carousel-control.left{
  background: none!important;
}
.carousel-control .glyphicon-chevron-left{
  left: 10%!important;
}
.carousel-control .glyphicon-chevron-right{
  right: 10%!important;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
  top: 38%!important;
  border-radius: 50%;
}

#customCarousel{
  height: 400px !important;
  width: 100% !important;
}
.height350 img{
  height: 400px !important;
  width: 100%;
}
.squareIndicator li{
  border-radius: 10px !important;
  margin-right: 5px !important;
  padding: 5px !important;
  background-color: #000 !important;
  border: 1px solid #000 !important;
}
.squareIndicator .active{
  margin: 1px !important;
  margin-right:  5px !important;
  border: 1px solid #fff !important;
  background-color: #fff !important;
}
.bannerContainerEcomm{
  background-color: #333;
  height: 400px;
}.
.grossbannerContainerEcomm{
  margin-bottom:100px;
}
.Ecommerceglyphicon{
  color: #25bbf3 !important;
}
.backDivEcommerce{
  background-color:rgb(0,0,0,0.8);
  padding: 8px;
  height: 40px !important;
  width: 40px !important;
}
.customControl >.left{
  left: -20px !important;
}
.customControl >.right{
  right: -50px !important;
}
.backDivEcommerce{
  font-size: 20px !important;
  margin-top: 5px !important;
  color: #fff!important;
}
.miniDiv1{
 overflow: hidden;
  height: 180px;
  margin-bottom: 20px;
}
.miniDiv1 img{

  transform: scale(1);
  cursor: pointer;
  transition-duration: 0.5s;
}
.firstMiniDiv img{
  height: 180px;
   width: 100%;
}.secondMiniDiv img{
  height: 180px;
   width: 100%;
}.thirdMiniDiv img{
  height: 180px;
   width: 100%;
}
.miniDiv1:hover img{
  transform: scale(1.1);
  cursor: pointer;
  transition-duration: 0.5s;
}

.pad20{
  padding-top: 20px;
}
.customTextDiscount{
    font-family: 'PT Sans',sans-serif;
    font-size: 24px;
    color: #777;
    font-weight: 400;
    letter-spacing: 0  
}
.greatDealLine{
      color: #00baf2;
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .03em;
    margin-bottom: 7px;
}
.diffColor{
      color: #1c3481;
    font-weight: 700;

}
.questionDiv{
  border-radius: 50px;
  border:1px dashed #00baf2;
  color: #fff;
  padding: 5px !important;
}
.customDivQue{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 24px;
  font-weight: 700;
  background: #1c3481;
  padding: 12px 15px;
  border-radius: 50px;
}
.padB50{
  padding-bottom: 50px;
}
.textAlignRight{
  text-align: right !important;
}
.colorBlack{
  color: #333 !important;
  margin-left: 200px;
}