.bannercaro img{
  height: 520px!important;

}

.bannercaro .owl-dots{
  display: block;
  /* bottom: -26px; */
  position: absolute;
  text-align: center;
  top: 465px;
  left: 639px;
}
.bannercaro .owl-dots .owl-dot span{
background: #fff;
height: 12px;
width:12px;
}

