.bannercaro img{
  height: 520px!important;

}

.bannercaro .owl-dots{
  display: block;
  /* bottom: -26px; */
  position: absolute;
  text-align: center;
  top: 465px;
  left: 639px;
}
.bannercaro .owl-dots .owl-dot span{
background: #fff;
height: 15px;
width:15px;
border: 2px solid #FBBD65;

}
.bannercaro .owl-dots .owl-dot.active span{
background: #FBBD65;

}.bannercaro .owl-dots .owl-dot:hover span{
background: #FBBD65;

}

