.mt80{
	margin-top: 80px;
}

.imageContainer{
	height: auto;
	background-color: #444;
}
.imageContainer img{
	height: 100%;
	width: 100%;
}
.subImg1{
	height: 100px;
	background-color: #444;
	margin-top: 50px;	
	margin-right: 20px;
	cursor: pointer;
}
.subImg1 img{
	height: 100%;
	width: 100%;
}
.productInfo{
    
    font-size: 12px;
}
.productInfo label{
	color: #353535;
    font-size: 45px;
    font-weight: 500;
    margin-top: 0;
    
}
.rateIt{
	color: #ccc;
	margin-right: 2px;
	font-size: 11px;
	cursor: pointer;
	line-height: 20px;
}
.reviewsDiv{
	color: #666;
	margin-top: 8px;
	padding-left: 10px;
}
.reviewsDiv:hover{
	color:#5f9c30;
	cursor: pointer;
}
.writeReview:hover{
	color:#5f9c30;
	cursor: pointer;
}
.writeReview{
	color: #666;
	margin-top: 8px;
	padding-left: 10px;
	border-left: 1px solid #ccc;
}
.priceDiv{
	margin-top: 30px;
	margin-bottom:  10px;
}
.price{
    
	color: #f27533;
    font-size: 30px;
    font-weight: 600;
    line-height: 25px;
}
.itemDesc{
	color: #828282;
	line-height: 1.8em;
}
.otherOperation{
	margin-top: 20px;
}
.colorDiv{
	height: 30px;
	background-color: #F39C11;
	border:1px solid #333;
	margin-top: 2px;
	cursor: pointer;
}
.selectCustom{
	border-radius: 0px !important;
}
.adCart{
	margin-top: 60px;
}
.itemCounter{
	height: 35px;
	border:1px solid #e8e8e8;

}
.noRightBor{
	border-right:0px !important;

}
.colorDiv2{
	    background-color: #5D9CEC;
}
.divContain{
	border-right:1px solid #e8e8e8;
	height: 34px;
	font-size: 14px;
	text-align: center;
	padding-top: 7px;
	cursor: pointer;
}
.divContain:hover{
	background-color: #ccc;
}
.addToCart{
	background-color: #5f9c30;
	height: 35px;
	color: #fff;
	font-size: 13px;
	text-align: center;
    
	padding-top: 8px;
}
.addToCart:hover{
	background-color: #1b1b1b;
	cursor: pointer;
}
.wishList{
	border:1px solid #e8e8e8;
	border-radius: 3px;
	padding: 0px !important;
	padding-top: 8px !important;
	font-size: 13px;
	color: #666;
	text-align: center;
	height: 35px;
	cursor: pointer;
}
.wishList:hover i{
	color:  #5f9c30;
}
.stockInfo{
	padding-top: 8px;

}
.stockInfo i{
	color:  #5f9c30;
}
.policies{
	border:1px solid #e8e8e8;
	height: 200px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.securityPolicy{
    border-bottom: 1px solid #e8e8e8;
    height: 72px;
    color: #1b1b1b;
    padding: 0px !important;
    font-size: 13px;
    
    padding-top: 20px !important;
}
.pad50{
	padding-top: 35px !important;
}
.returnPolicy{
    height: 65px;
    color: #1b1b1b;
    padding: 0px !important;
    font-size: 13px;
    
    padding-top: 20px !important;
}
.deliveryPolicy{
	 border-bottom: 1px solid #e8e8e8;
    height: 65px;
    color: #1b1b1b;
    padding: 0px !important;
    font-size: 13px;
    
    padding-top: 22px !important;
}
.pad10{padding-top: 7px}

/*other*/
.rating {
    float:left;
}

.rating:not(:checked) > input,
.rating1:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label, .rating1:not(:checked) > label {
    float:right;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) > label:before,.rating1:not(:checked) > label:before {
    content: '★ ';
    font-size:16px;
}

.rating > input:checked ~ label, .rating1 > input:checked ~ label {
    color: #f90;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label{
  color: gold;
}


.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}

.rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}
.clearfix {
    *zoom: 1;
}
/*end Other*/
.onHoverDiv{
	position: absolute;
	display: none;
	height: 480px;
	margin-top: -480px;
	text-align: center;
	background-color: rgb(255,255,255,0.5);
}
.onHoverDiv i{
	font-size: 80px;
	padding-top: 196px;
	color: #fff;
}
.imageContainer:hover .onHoverDiv{
	display: block;
	cursor: pointer;
}
.backOfModal{
	height: 500px;
	margin-top: 40px;
	background-color: transparent;
}
.suggestedDiv{
	cursor: pointer;
	height: 150px;
	margin-top: 40px;
}