
.footer{
  text-align: center;
}
.logo-nb {
    margin-bottom: 37px;
    margin-top: 30px;
}

.logo-nb img{
  height: 40px;
}

.footer-middle > div i {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid;
    border-radius: 50%;
    font-size: 18px;
    margin-right: 25px;
    display: inline-block;
}