
.account-nav  li  a{
	color: #555;
}
.account-nav li a:hover{
	color:#fbbb65 !important;
}

table > tfoot > tr > th{
	border-top: 0px solid #ddd !important;	
	font-weight: 100;
	text-align: right;
}
table > tfoot > tr > td{
	
	border-top: 0px solid #ddd !important;
}

table > tfoot > tr > td:last-of-type {
   text-align: right;
}
.box-content{
	height: 150px;
}
.subtotal{
	border-top: 1px solid #ddd !important;
}
.backtoMyOrdersDiv{
	text-align: right;
}
.backtoMyOrders{
	color: #999;
}

.backtoMyOrders:hover{
	color:#fbbb65 !important;
	text-decoration: none;
}
.actions a {
    left: 0;
    bottom: 0;
    text-align: center;
    width: 35px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 0 5px;
    border: 1px solid #fbbb65 !important;
    background: #fff;
    color: #fbbb65;
    text-transform: uppercase;
}
.actions a:hover {
	color: #fbbb65;
}
.actbtns button{
	width: 35px !important;
	padding: 5px 0 5px;
}
.actbtns button:hover{
	padding: 5px 0 5px;
}
#returnProductModal{
	margin-top: 10%;
}
#feedbackProductModal .modal-body{
	height: 220px;
}
.givefeedback {
   float: left !important;
}
.givefeedback:not(:checked) > label, .ratingReview1:not(:checked) > label {
   float: right !important;
}