.footclr{
	color: #333;
}
.footerCSS{
	/*margin-top: 48%;*/
    
    position: fixed;
    bottom: 0
}
.footerRightCss {
	color: #333;
    font-size: 13px;
    margin-top: 5px;
}
.footerRightCss1 {
    color: #333;
    font-size: 13px;
    margin-top: 5px;
}
.footerLeftCss a{
    font-size: 13px;
}
.footerLeftCss{
	color: #333;
    font-size: 13px;
    margin-top: 3px;
}