/******************Login css***********************/
.bw{
  background-color: #f0f;
}
.bw1{
  background-color: #ff0;
}
.mt50{
  margin-top: 50px;
}
.mt30{
  margin-top: 30px;
}
.mt10{
  margin-top: 10px;
}
.mb100{
  margin-bottom: 100px;
}
.astricsign{
  color: red;
  position: relative;
  left: 3px;
}
.LoginWrapper{
  border:1px solid #aaa;
  margin-top: 70px;
  border-radius: 5px;
  height: auto;
}

.innloginwrap{
  border-bottom: 1px solid #aaa;
}

.borderrightlogin{
    border-right: 1px solid #aaa;
}

.logininput input{
  height: 50px;
}

#logInBtn{
  padding: 10px 30px;
  border-radius: 20px;

}

.loginforgotpass a{
  text-decoration: none;
  color: #555;
  cursor: pointer;
}
.loginforgotpass a:hover{
  text-decoration: none;
  color: #FCC165;
  cursor: pointer;
}

.loginlistpadd{
  padding-inline-start: 20px!important;
}

/******************signup css***********************/

#signUpBtn{
  padding: 10px 30px;
  border-radius: 20px;

}
.systemsecBtn{
  padding: 10px 30px;
  border-radius: 20px;

}

