/******************Login css***********************/
.bw{
  background-color: #f0f;
}
.bw1{
  background-color: #ff0;
}
.mt50{
  margin-top: 50px;
}
.mt30{
  margin-top: 30px;
}
.mt10{
  margin-top: 10px;
}
.mb100{
  margin-bottom: 100px;
}
.astricsign{
  color: red;
  position: relative;
  left: 3px;
}
.LoginWrapper{
  /*border:1px solid #aaa;*/
  /* margin-top: 25px; */
  background-image: url("/images/Sing-In-Sign-Up.png");
  border-radius: 5px;
  height: auto;
}

.innloginwrap{
  text-align: center;
  /*border-bottom: 1px solid #aaa;*/
}
.labelCss{
  font-weight: normal !important;
}
.borderrightlogin{
    border-right: 1px solid #aaa;
}
.labelCss{
  font-weight: normal;
}

.logininput input{
  height: 35px;
}

#logInBtn{
  padding: 10px 30px;
  border-radius: 20px;

}

.loginforgotpass a{
  text-decoration: underline;
  color: #555;
  cursor: pointer;
  font-size: 12px;
}
.loginforgotpass a:hover{
  text-decoration: underline;
  color: #FCC165;
  cursor: pointer;
}

.loginlistpadd{
  padding-inline-start: 20px!important;
}
.showPwd{
  display: block;
}
.hidePwd{
  display: none;
}
.showPwd1{
  display: none;
}
.hidePwd1{
  display: block;
}
.showPwd2{
  display: block;
}
.hidePwd2{
  display: none;
}
.showPwd3{
  display: none;
}
.hidePwd3{
  display: block;
}
.showHideSignDiv {
  top: -25px;
  float: right;
  margin-right: 9px;
  z-index: 999;
  position: relative;
}
/******************signup css***********************/

#signUpBtn{
  padding: 10px 10px;
  border-radius: 20px;

}
.systemsecBtn{
  /*padding: 10px 30px;*/
  border-radius: 20px;
}
.resendotbtn{
      padding: 10px 30px;
    border-radius: 20px;
    border-color: #f0ad4e;
    background: #fff;
    color: #333;
}
.resetBtn{
  border-radius: 25px;
  padding: 10px 15px;
}

.checkUserExistsError{
  font-weight: 100;
    color:red;
    margin-top: 5px;
  }
  .passwordError{
    font-weight: 100;
      color:red;
      margin-top: 5px;
    }
  .logInBtn:hover{
    color: #fff !important;
  }
  .signupbtn:hover{
    color: #fff ! important;

  }
  .formShadow{
    background: #fff;
    padding: 15px;
    margin-top: 15px;
    box-shadow: 2px 1px 7px 6px #33333326;
  }
  .logininput label{
    font-weight: 500;
  }
  .fa-spinner{
    font-size: 15px;
  }
  #logInBtn:focus{
    outline: none;
  }