.customPillsEcommerceFP{
     padding: 0 20px;
    color: #000;
    text-transform: uppercase;
    font-family: 'PT Sans',sans-serif;
    font-weight: 700;
    font-size: 18px !important;
    border: none;
    position: relative;

}
.customPillsEcommerceFP>li>a{
    padding-top: 35px !important;
    padding-bottom: 35px !important;
    background-color: transparent!important;
    color: #333 !important;
}
.customPillsEcommerceFP>li.active>a, .customPillsEcommerceFP>li.active>a:focus, .customPillsEcommerceFP>li.active>a:hover{
    
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    background-color: transparent!important;
    /*color: #1c3481 !important;*/
    border-radius: 0px !important;
}
.customPillsEcommerceFP>li>a:hover{
background-color: transparent !important;
}
.ecommerceProductCarND{
     height: 400px;
    background-color: #eef3f4;
    
    font-family: 'PT Sans',sans-serif;
    box-shadow: 0px 37px 72px 105px #eef3f4;
}
.imgContainerND{
    height: 300px;
    margin-top: 50px
}
.imgContainerND img{
    height: 300px;
}
.customnNavButtonEcommerceND .owl-nav button.owl-prev{
    display: block !important;
    background: transparent !important;
    border-radius: 0px !important;
    margin-top: -480px !important;
    margin-left: -7px;
    width: 25px;
    height: 32px;   
    color: #000;
    text-align: center;
    border: none !important;
    font-size: 32px!important;
    padding: 0 !important;
    font: inherit;
}
.customnNavButtonEcommerceND .owl-nav  button.owl-next{
   display: block !important;
    background: transparent !important;
    border-radius: 0px !important;
    margin-top: -40px;
    margin-left: 900px;
    width: 25px;
    height: 32px;
    color: #000;
    text-align: center;
    border: none !important;
    font-size: 32px!important;
    padding: 0 !important;
    font: inherit;
}
.customnNavButtonEcommerceND .owl-nav  button.owl-next:focus{
    outline: none !important;
}
.customnNavButtonEcommerceND .owl-nav  button.owl-prev:focus{
    outline: none !important;
}
.customnNavButtonEcommerceND .owl-nav  button.owl-next:hover{
    color: #333 !important;
}
.customnNavButtonEcommerceND .owl-nav button.owl-prev:hover{
    color: #333 !important;
}
.detailContainerOfProductND{
    margin-top: 100px !important;
    margin-left: 50px;
}
.productName1{
    font-size: 16px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
}
.productdesc1{
    color: #999;
    margin-top: 20px;
    margin-bottom: 20px;
}
.counterContainer{
    height: 65px;
    margin-top: 50px
}
.Div1{
    background-color: #fff;
    height: 65px;
}
.pad10{
    padding-top: 10px !important;
}
.numbersContainer{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    font-family: 'PT Sans',sans-serif;
}
.optionDiv1{
    height: 55px;
    padding-right:22px !important;
    margin-top: -40px;
    transition-duration: 0.7s;

}