.paddingBottom20{
	padding-bottom: 20px;
}
.linkToOtherPage{
	padding: 20px;
    position: absolute !important;
    margin-top: 170px;
    margin-left: 17px;
    height: 135px;
}
.linkToOtherPage label{
	font-size: 14px !important;
		transition-duration: 0.5s;

}
.linkToOtherPage span>a:hover{
	color: #1c3481 !important;
	font-size: 16px;
	transition-duration: 0.5s;
}
.ruleHead{
	font-size: 15px;
	font-weight: bold;
}