.singleProc{
	padding: 0px !important;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.09);
    color:#fff;
    padding-bottom: 20px !important;
    text-align: left;
}
.singleProc label{
    font-size: 11px;
}
.owl-theme .owl-dots {
	display: none;
}
.singleProc{
  margin: 10px;

}
.singleProc{
    overflow: hidden;
    height: auto;

}
.singleProc img{
  display: block;
  height: 300px;
}
.nameOfProc{
    color: #333;
    font-size: 1.23077rem;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 16px;
    
    font-weight: 500;
    line-height: 1.53846rem;
    text-decoration: none;
    display: block;
    max-height: 40px;
}
.priceOfProc{
    color: #f27533;
    
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    line-height: 25px;
    margin-top: 10px;
    max-height: 40px;
}

.hoverImage{
    display: inline-block;
    height: 200px;
    opacity: 0;
    position: absolute;
    right: -200px;
/*    margin-top:-300px;
*/    color: #333;
}
.singleProc:hover .hoverImage{
    opacity: 1;
    color: #333;
/*    animation: sliding 0.8s ease;
*/  transform: translateX(-200px);
    transition: 0.5s all ease;
    cursor: pointer;
}
.backColorTrasPC{
    top: 255px;
    position: absolute;
    right: -239px;
    padding: 12px;
    padding-left: 48px;
    padding-right: 52px;
    padding-bottom: 33px;
    background-color: rgb(0,0,0,0.5);
    height: 30px;
    opacity: 0;
 /*   top: 265px;
    position: absolute;
    right: -303px;
    padding: 12px;
    padding-left: 27px;
     padding-right: 52px; 
    padding-bottom: 33px;
    background-color: rgb(0,0,0,0.5);
    height: 30px;
    opacity: 0;*/
}
.singleProc:hover .backColorTrasPC{
    opacity: 1;
    color: #333;
    transform: translateX(-230px);
    transition: 0.5s all ease;
    cursor: pointer;
}
.singleProc:hover:after{
    opacity: 1;
    color: #333;
    transform: translateX(-200px);
    transition: 0.5s all ease;
    cursor: pointer;
}
.iconContainer{
       padding: 14px;
       padding-left: 24px;
       padding-right: 30px;
   }

.onTransDivElement{
    padding-left: 5px;
    padding-right: 10px;
    color: #fff;
}
.iconContainer:hover{
     background-color: #5f9c30;

}

@keyframes sliding {
  0% {
            transform: translateX(0);
            opacity: 0;
  }
  100% {
            transform: translateX(-200px);
            opacity: 1;
  }

}


/*Ecommerce*/
   .iconContainerEcommerce{
       padding: 13.6px;
       border:1px #eee solid;
        font-size: 18px;
        cursor: pointer;

       background-color: #fff;
   }
   .iconContainerEcommerce:hover{
    background-color:#3f9090;
    color:#fff;
    transition-duration: 0.5s;
    }

    .iconContainerGrocery{
          padding: 11.6px;
       border:1px #aaa solid;
        font-size: 18px;
        cursor: pointer;

       background-color: #fff;
   }

.nameOfProcEcommerce{
    color: #333;
    font-size: 1.23077rem;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 16px;
    
    font-weight: 500;
    line-height: 1.53846rem;
    text-decoration: none;
    display: block;
    
    max-height: 40px;
}
.priceOfProcEcommerce{
    color:#25baf2 ;
    
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    line-height: 25px;
    margin-top: 10px;
    max-height: 40px;
}
