
div, a, p, h1, h2, h3, h4, h5, h6, i, span, label{
  font-family: 'Montserrat', sans-serif;
}

.NOpadding{
  padding-left: 0px;
  padding-right: 0px;
}
.NOpaddingLeft{
  padding-left: 0px;
}
.NOpaddingRight{
  padding-right: 0px;
}
.textAlignRight{
  text-align: right;
}
.textAlignLeft{
  text-align: left;
}
.textAlignCenter{
  text-align: center;
}
.mb15{
  margin-bottom: 15px !important;
}
.mt25{
  margin-top: 25px;
}
.mt15{
  margin-top: 15px;
}
.mb25{
  margin-bottom: 25px;
}
.nowrap{
  white-space: nowrap;
}
.error{
  color: red !important;
  font-weight: 100;
}
button:focus{
  outline: 0px !important;
}
.custom-container{
  height: 100px;
  width: 100%;
  background: #fff;
  position: absolute;
  color: #000;
}

.alertback{
    width: 1000px;
    color:#fff!important;
    font-size: 16px!important;
    font-weight: 700!important;
    text-align: left!important;
}
.toasts-containerblock{
  /*display: none!important;*/
}
.pagealertclose{
  font-size: 12px;
  cursor: pointer;

}
.toast{
  animation: none!important;
}

.pagealerturl{
  margin-left: 20px;
  color: #333;
}


.modal-content{
  border-radius: 0px!important;
}

.modal-header{
  background: #b83118;
  height: 37px;
  color:#fff;
  padding: 10px!important
}
.modal-header img{
  height: 20px;

}

.modalheadingcont{
  text-align: center;
  margin-top: -22px!important;
}

.modalclosebut{
 opacity: 10!important;
    background: #fff!important;
    height: 21px;
    width: 17px;
}
.modalclosebut:hover{
  color: red;

}

a:hover{
  color: #FBBD65!important;
}

.inputcontent{
  height: 30px;
  border-radius: 8px;
  border:1px solid #aaa;
}
.inputcontenttextarea{
  height: 70px;
  border-radius: 8px;
  border:1px solid #aaa;
}
.formcontentheight{
  height: 75px;
}
.redFont{
  color: red;
}
.error{
  font-size: 10px;
}
.ngvgn{
  
}