.multiicon{
	font-size: 30px;
    border: 18px solid #fbbb65;
    background-color: #fbbb65;
    color: #fff;
    border-radius: 100%;
    padding: 6px 9px;
}

.textparaabout{
	line-height: 20px;
	/*color: #999;*/
	padding-left: 128px;
	padding-right: 126px;
	text-align: justify;
}
.textparaabout1{
	line-height: 20px;
	/*color: #999;*/
	text-align: justify;
}


.multistorebgimg{
	background-image: url("/images/aboutleftimg.png");
	background-size: 100% 100%;
	height: 300px;
}
.multistorebgimg2{
	background-image: url("/images/aboutrightimg.png");
	background-size: 100% 100%;
	height: 300px;
}

.multistorebgimgtext{
	background:#fff;
	margin-top: 255px;
}